<h2>
  {{tagline}}
</h2>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <b>This website</b>
    </mat-card-title>
    <mat-card-subtitle>
      <a href="https://github.com/codemastermick/devPortfolio">Source on GitHub</a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    The full source code for this website is available on my GitHub account
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <b>Dicewerx</b>
    </mat-card-title>
    <mat-card-subtitle>
      <a href="https://github.com/codemastermick/dicewerx">Source on GitHub</a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    I got bored one day and wanted to learn more about Regex, so I built an npm package that parses standard dice
    notation and returns the results of the roll
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <b>ngFast</b>
    </mat-card-title>
    <mat-card-subtitle>
      <a href="https://github.com/codemastermick/ngFast-pwa">Source on GitHub</a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    A skeleton project created with Angular that provides a high performance, full featured experience right out of the
    box
  </mat-card-content>
</mat-card>
