<h2>
  Who am I?
</h2>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <b>About Me</b>
    </mat-card-title>
  </mat-card-header>

  <p class="firstPara">
    I am a freelance systems and network administrator, fullstack developer, and technical consultant with a passion for
    creating things.
  </p>
  <p>
    I remember when Windows was nothing more than a shell, dialup internet, and floppy disks. But I also stay up to date
    with new technology and have done so all these years. This has led to me having an extremely wide array of skills
    and abilities that has left me with a very unique way of troubleshooting things.
  </p>
  <p>
    Whether you need an app built, an API designed, a website deployed, or a security checkup, I've got some tricks up
    my sleeve.
  </p>
</mat-card>
