<mat-toolbar class="navbar" color="primary">
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidenav()" aria-label="Home">
      <mat-icon>menu</mat-icon>
      <a routerLink="/home">Home</a>
    </button>
  </div>

  <div fxFlex fxHide.lt-md>
    <ul fxLayout fxLayoutAlign="space-between" class="navigation-items">
      <li>
        <button mat-icon-button>
          <a routerLink="/home">Home</a>
        </button>
      </li>
      <li>
        <button mat-icon-button>
          <a routerLink="/about">About Me</a>
        </button>
      </li>
      <li>
        <button mat-icon-button>
          <a routerLink="/contact">Contact</a>
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>
