<div class="container" fxLayout="column">
  <div class="logoHolder">
    <img src="../assets/img/logo_trans.png" alt="site logo" class="logo">
    <h1>
      {{ title }}
    </h1>
  </div>

  <mat-sidenav-container class="mainpage">
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content class="bgimg">
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <div class="pageBody">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer [foundingYear]="foundingYear" [author]="author" fxFlexOffset="auto"></app-footer>
</div>
