// .container {
//   min-height: 80vh;
// }

h1 {
  font-size: 2.5em;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  // pick up theme colour here maybe?
  height: 80vh;
}

mat-sidenav {
  width: 250px;
}

.logo {
  max-height: 10vh;
  margin-top: 1em;
}

// .logoHolder {
//   background-color: black;
//   color: white;
// }

.bgimg {
  display: block;
  height: 80vh;
  // background: url("../assets/img/background.webp") no-repeat center center fixed;
  background-size: cover;
}

.mainpage {
  height: 80%;
  overflow: auto;
}

// .toast-container{
//   color: whitesmoke;
// }
