// .container {
//   // min-height: 80vh;
//   // background-color: black; // set this to the primary app colour
//   // color: white; // set this to the primary app text colour
// }

.container > .logoHolder > h1 {
  font-size: 2.5em;
}

.container > .logoHolder > h1 > .logo {
  max-height: 2.5em;
  margin-left: 0.5em;
  border-radius: 64px;
}

.container > .logoHolder {
  max-height: 110px;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  // pick up theme colour here maybe?
  height: 85vh;
}

mat-sidenav {
  width: 250px;
}

.bgimg {
  display: block;
  // height: 80vh;
  // background: url("../assets/img/background.webp") no-repeat center center fixed;
  background-size: cover;
}

.mainpage {
  // height: 80%;
  overflow: auto;
}
