<h2>
  Who am I?
</h2>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <b>About Me</b>
    </mat-card-title>
  </mat-card-header>

  <p class="firstPara">
    I am a freelance systems and network administrator, fullstack developer, and technical consultant with a passion for
    creating things.
  </p>
  <p>
    This is a content section about my skills and abilities
  </p>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <b>What can I do for you?</b>
    </mat-card-title>
  </mat-card-header>

  <p class="firstPara">
    Brief overview of my available services
  </p>
  <p>
    Brag section about my top skills and how they tie in
  </p>
</mat-card>
