<h2>
  {{tagline}}
</h2>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <b>What I am:</b>
    </mat-card-title>
  </mat-card-header>
  <ul>
    <li>
      A multi-faceted developer (programs, webapps, serverless, you name it and we will talk)
    </li>
    <li>
      A systems administrator (I can do network stuff too!)
    </li>
    <li>
      Kind of anal about writing clean and maintable code (If your own staff can't work with my codebase I'm not happy with it yet)
    </li>
  </ul>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <b>What I am NOT:</b>
    </mat-card-title>
  </mat-card-header>
  <ul>
    <li>
      A graphic designer. Seriously, my art skills are subpar, you are going to want someone to polish things up
    </li>
    <li>
      An Apple guy. I know Linux so I can get by, but I don't touch Apple in my personal life.
    </li>
    <li>
      A data analyst. I can set up whatever piping you want, but someone else can analyze that and make sense of it.
      I'll
      just get it where you need it.
    </li>
    <li>
      An on premesis worker. Due to reasons beyond my control, I am unable to work at any physical location other than
      my
      own office.
    </li>
  </ul>
</mat-card>
