/* You can add global styles to this file, and also import other style files */
@import "./app-theme.scss";

/* for sidenav to take a whole page */

body,
html {
  margin: 0;
  padding:0;
  height: 100%;
  width: 100%;
}

h1 {
  margin: 0;
  padding:0;
}

mat-card{
  min-width: 80vw;
  max-width: 80vw;
  margin: 1em;
}
